body{
    width:1440px;
    margin:0px;
    align-content: center;
}
a{
    text-decoration: none;
}
a:hover, a:active{
    color: hsl(193, 100%, 96%);
}
.div{
    background-image: url('bg-hero-desktop.svg');
    background-repeat: repeat; 
    width:100%;
    height: 700px;
    background-color: hsl(206, 30%, 95%);
    margin:0px;
}
.img{
    position:absolute;
    top: 70px;
    left: 80px;
    height: 30px;
    width:200px;
}
.div1{
    background-color: white;
    border:1px solid white;
    border-radius: 25px;
    padding:13px 65px;
    float: right;
    margin-top: 3em;
    margin-right: 5em;
    box-shadow:  0px 6px rgba(0,0,0,0.10);
}
.h{
    color:black;
    text-align: center;
}
.div2{
    position:absolute;
    top: 280px;
    left:80px;
}
.h1{
    color:black;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}
.div3{
    position:absolute;
    top:160px;
    right:100px;
}
.div4{
    background-color: hsl(322, 100%, 66%);
    position: absolute;
    top: 520px;
    left: 80px;
    padding: 18px 75px;
    border-radius: 25px;
}
.h2{
    color:white;
    font-size: 15px;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position:absolute;
    top:800px;
    left:80px;
  }
  
  .flex-container > div {
    background-color: white;
    width: 57em;
    height:17em;
    margin: 30px;
    padding:40px 100px 60px 100px;
    text-align: left;
    line-height: 10px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow:  3px 3px 3px 3px rgba(0.10, 0.10, 0.10,0.10);
  }
.h3{
    font-size:30px;
    font-weight: 700;
}
.img2{
    margin:0px;
    
    float:right;
}
.imgg2{
    margin-top:4em;
    margin-left:32em;
    float: right;
}
.img3{
    margin:0px;
    float:left;
   
}
.p{
    font-size:20px;
    color: hsl(0, 0%, 33%);
    line-height: 30px;
    font-weight: 300;
    letter-spacing:0.5px;
}
.div5{
    background-color: white;
    border:3px solid whitesmoke;
    padding:30px;
    width:40em;
    height:200px;
    border-radius: 20px;
    position:absolute;
    left: 22em;
    top:145em;
    box-shadow:  3px 3px 6px 6px rgba(0,0,0,0.10);
    z-index: +1;
}
.div6{
    background-color:  hsl(322, 100%, 66%);
    padding:10px 25px;
    border-radius:40px;
    text-align:center;
    width:40%;
    margin-left:10em;
    margin-top: 3em;
}
.p3{
    color:white;
    font-weight:400;
}
.fclass{
    background-color: hsl(192, 100%, 9%);
    width:90em;
    height:30em;
    position:absolute;
    left: 0px;
    top:156em;
}
.final1{
    margin-left: 5em;
    margin-top: 11em;
}
.final2{
    display: flex;
    flex-direction: column;
}
.final2 > div{
    color: rgb(197, 195, 195);
    font-size:18px;
    font-family: 'Poppins';
    margin:10px;
}
.yet{
    margin-left:2px;
    text-align:left;
}
.final3{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:40em;
    bottom: 8em;
}
.final3 > p{
    color: rgb(197, 195, 195);
    font-size:18px;
    font-family: 'Poppins';
    margin: 10px;

}
.final4{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:54em;
    bottom: 8em;
}
.final4 > p{
    color: rgb(197, 195, 195);
    font-size:18px;
    font-family: 'Poppins';
    margin: 10px;
}
.final5{
    display:flex;
    flex-direction: row;
    position:absolute;
    right:13em;
    bottom:13em;
}
.final5 > i{
    margin:2px;
    height:30px;
    width:30px;
    color: rgb(197, 195, 195);
}
.final6{
    position:absolute;
    bottom:5em;
    right: 5em;
    color:rgb(197, 195, 195);
    font-size:10px;
}
@media only screen and (orientation: landscape){
    body{
        background-color: aliceblue;   
    }
}
@media screen and (max-width: 700px){
    .final5{
        flex-direction: column;

    }
}
@media screen and (max-width: 500px){
    div > .h3{
        font-weight: 500;
    }   
    }

